<?xml version="1.0" encoding="UTF-8" ?>
<theme>
    <name>Standard Light</name>
    <type>light</type>
    <background-color>#ffffff</background-color>
    <text-color>#000000</text-color>
    <selection-color>hsb(212,27,96)</selection-color>
    <accent-color-one>hsb(212,100,91)</accent-color-one>
    <accent-color-two>hsb(212,100,100)</accent-color-two>
    <note-color>hsb(0,0,51)</note-color>
    <caret-color>hsb(195,100,94)</caret-color>
    <guide-color>hsb(0,0,92)</guide-color>
    <expander-color>hsb(0,0,67)</expander-color>
    <markup-color>hsb(0,0,61)</markup-color>
    <checkmark-color>hsb(0,0,41)</checkmark-color>
    <user-interface>
        <ui-general>
          <ui-general-divider-color>hsb(0,0,90)</ui-general-divider-color>
        </ui-general>
        <ui-navigation>
          <ui-navigation-tint-color>hsb(0,0,61)</ui-navigation-tint-color>
          <ui-navigation-bar-tint-color>hsb(0,0,98)</ui-navigation-bar-tint-color>
          <ui-navigation-bar-text-color>labelColor</ui-navigation-bar-text-color>
          <ui-navigation-bar-divider-color>hsb(0,0,92)</ui-navigation-bar-divider-color>
          <ui-navigation-modal-tint-color>hsb(0,0,98)</ui-navigation-modal-tint-color>
          <ui-navigation-textfield-background-color>#ffffff</ui-navigation-textfield-background-color>
        </ui-navigation>
        <ui-table>
            <ui-table-header-background-color>hsb(0,0,98)</ui-table-header-background-color>
            <ui-table-header-text-color>#000000</ui-table-header-text-color>
            <ui-table-divider-color>hsb(0,0,90)</ui-table-divider-color>
            <ui-table-background-color>#ffffff</ui-table-background-color>
            <ui-table-cell-active-background-color>hsb(208,100,100)</ui-table-cell-active-background-color>
            <ui-table-cell-idle-background-color>hsb(0,0,84)</ui-table-cell-idle-background-color>
            <ui-table-cell-text-color>hsb(0,0,0)</ui-table-cell-text-color>
            <ui-table-cell-subtitle-text-color>hsb(0,0,51)</ui-table-cell-subtitle-text-color>
            <ui-table-cell-tint-color>hsb(0,0,61)</ui-table-cell-tint-color>
            <ui-table-highlight-background-color>hsba(210,30,100,25)</ui-table-highlight-background-color>
            <ui-table-highlight-text-color>hsb(211,98,88)</ui-table-highlight-text-color>
        </ui-table>
        <ui-sidebar>
            <ui-sidebar-is-vibrant>true</ui-sidebar-is-vibrant>
            <ui-sidebar-tint-color>hsb(0,0,61)</ui-sidebar-tint-color>
            <ui-sidebar-active-tint-color>hsb(208,100,100)</ui-sidebar-active-tint-color>
            <ui-sidebar-background-color>#ffffff</ui-sidebar-background-color>
            <ui-sidebar-cell-active-background-color>gray</ui-sidebar-cell-active-background-color>
            <ui-sidebar-header-text-color>headerColor</ui-sidebar-header-text-color>
            <ui-sidebar-cell-text-color>controlTextColor</ui-sidebar-cell-text-color>
            <ui-sidebar-token-color>hsba(0,0,0,8)</ui-sidebar-token-color>
            <ui-sidebar-token-text-color>hsba(0,0,0,40)</ui-sidebar-token-text-color>
        </ui-sidebar>
        <ui-dialog>
            <ui-dialog-background-color>white</ui-dialog-background-color>
            <ui-dialog-alt-background-color>hsb(0,0,96)</ui-dialog-alt-background-color>
            <ui-dialog-text-color>black</ui-dialog-text-color>
            <ui-dialog-alt-text-color>darkGray</ui-dialog-alt-text-color>
            <ui-dialog-subtitle-text-color>secondaryLabelColor</ui-dialog-subtitle-text-color>
            <ui-dialog-alt-highlight-text-color>hsb(211,98,91)</ui-dialog-alt-highlight-text-color>
            <ui-dialog-alt-highlight-background-color>hsba(211,30,100,25)</ui-dialog-alt-highlight-background-color>
        </ui-dialog>
    </user-interface>
</theme>


