<?xml version="1.0" encoding="UTF-8" ?>
<theme>
    <name>Thinkspace Golden</name>
    <type>light</type>
    <background-color>#fbfbfb</background-color>
    <text-color>#464646</text-color>
    <selection-color>#F5E8B3</selection-color>
    <accent-color-one>#E3BA24</accent-color-one>
    <accent-color-two>#E3BA24</accent-color-two>
    <note-color>#808080</note-color>
    <caret-color>#FFA91F</caret-color>
    <guide-color>#F2E5B1</guide-color>
    <expander-color>#E3BA24</expander-color>
    <markup-color>#E3BA24</markup-color>
    <checkmark-color>#E3BA24</checkmark-color>
      <user-interface>
        <ui-general>
          <ui-general-divider-color>hsb(47,2,90)</ui-general-divider-color>
        </ui-general>
        <ui-navigation>
          <ui-navigation-tint-color>hsb(0,0,61)</ui-navigation-tint-color>
          <ui-navigation-bar-tint-color>hsb(0,0,65)</ui-navigation-bar-tint-color>
          <ui-navigation-bar-text-color>hsb(0,0,21)</ui-navigation-bar-text-color>
          <ui-navigation-bar-divider-color>hsb(47,2,90)</ui-navigation-bar-divider-color>
          <ui-navigation-modal-tint-color>hsb(0,0,98)</ui-navigation-modal-tint-color>
          <ui-navigation-textfield-background-color>#ffffff</ui-navigation-textfield-background-color>
        </ui-navigation>
        <ui-table>
            <ui-table-header-background-color>hsb(0,0,98)</ui-table-header-background-color>
            <ui-table-header-text-color>#000000</ui-table-header-text-color>
            <ui-table-divider-color>hsb(47,2,92)</ui-table-divider-color>
            <ui-table-background-color>hsb(0,0,98)</ui-table-background-color>
            <ui-table-cell-active-background-color>{{47,84,88}}</ui-table-cell-active-background-color>
            <ui-table-cell-idle-background-color>hsb(47,2,92)</ui-table-cell-idle-background-color>
            <ui-table-cell-text-color>hsb(0,0,27)</ui-table-cell-text-color>
            <ui-table-cell-subtitle-text-color>hsb(0,0,50)</ui-table-cell-subtitle-text-color>
            <ui-table-cell-tint-color>hsb(0,0,65)</ui-table-cell-tint-color>
            <ui-table-highlight-background-color>hsba(47,30,96,36)</ui-table-highlight-background-color>
            <ui-table-highlight-text-color>hsb(47,88,88)</ui-table-highlight-text-color>
        </ui-table>
        <ui-sidebar>
            <ui-sidebar-is-vibrant>true</ui-sidebar-is-vibrant>
            <ui-sidebar-tint-color>hsb(0,0,65)</ui-sidebar-tint-color>
            <ui-sidebar-active-tint-color>hsb(47,84,89)</ui-sidebar-active-tint-color>
            <ui-sidebar-background-color>hsb(0,0,96)</ui-sidebar-background-color>
            <ui-sidebar-cell-active-background-color>hsb(47,12,93)</ui-sidebar-cell-active-background-color>
            <ui-sidebar-header-text-color>hsb(47,2,15)</ui-sidebar-header-text-color>
            <ui-sidebar-cell-text-color>hsb(0,0,27)</ui-sidebar-cell-text-color>
            <ui-sidebar-token-color>hsba(0,0,0,8)</ui-sidebar-token-color>
            <ui-sidebar-token-text-color>hsba(0,0,0,32)</ui-sidebar-token-text-color>
        </ui-sidebar>
        <ui-dialog>
            <ui-dialog-background-color>white</ui-dialog-background-color>
            <ui-dialog-alt-background-color>hsb(0,0,96)</ui-dialog-alt-background-color>
            <ui-dialog-text-color>black</ui-dialog-text-color>
            <ui-dialog-alt-text-color>darkGray</ui-dialog-alt-text-color>
            <ui-dialog-subtitle-text-color>secondaryLabelColor</ui-dialog-subtitle-text-color>
            <ui-dialog-alt-highlight-text-color>hsb(47,88,88)</ui-dialog-alt-highlight-text-color>
            <ui-dialog-alt-highlight-background-color>hsba(47,30,96,36)</ui-dialog-alt-highlight-background-color>
        </ui-dialog>
    </user-interface>
</theme>


