<?xml version="1.0" encoding="UTF-8" ?>
<theme>
<name>Maestro{{brand}}</name>
    <type>dark</type>
    <background-color>hsb(0,0,16)</background-color>
    <highlight-background-color>hsb({{hue}},{{lowsat}},{{lowbright}})</highlight-background-color>
    <text-color>hsb(0,0,85)</text-color>
    <selection-color>hsb({{hue}},{{lowsat}},{{lowbright}})</selection-color>
    <accent-color-one>{{accentColor}}</accent-color-one>
    <accent-color-two>{{accentColor}}</accent-color-two>
    <note-color>hsb(0,0,61)</note-color>
    <caret-color>hsb({{hue}},{{satp8}},{{bright}})</caret-color>
    <guide-color>hsb({{hue}},{{sat}},{{lowbright}})</guide-color>
    <expander-color>{{accentColor}}</expander-color>
    <markup-color>{{accentColor}}</markup-color>
    <checkmark-color>{{accentColor}}</checkmark-color>
    <user-interface>
        <ui-general>
            <ui-general-divider-color>hsb(0,0,24)</ui-general-divider-color>
        </ui-general>
        <ui-toolbar>
          <ui-toolbar-image-color>#f2f2f2</ui-toolbar-image-color>
          <ui-toolbar-tint-color>{{tintColor}}</ui-toolbar-tint-color>
          <ui-toolbar-background-color>hsb(0,0,16)</ui-toolbar-background-color>
        </ui-toolbar>
        <ui-navigation>
            <ui-navigation-tint-color>{{tintColor}}</ui-navigation-tint-color>
            <ui-navigation-bar-tint-color>hsb(0,0,10)</ui-navigation-bar-tint-color>
            <ui-navigation-bar-text-color>hsb(0,0,95)</ui-navigation-bar-text-color>
            <ui-navigation-bar-divider-color>hsb(0,0,24)</ui-navigation-bar-divider-color>
            <ui-navigation-modal-tint-color>hsb(0,0,14)</ui-navigation-modal-tint-color>
            <ui-navigation-textfield-background-color>hsb(0,0,30)</ui-navigation-textfield-background-color>
        </ui-navigation>
        <ui-table>
            <ui-table-header-background-color>hsb(0,0,14)</ui-table-header-background-color>
            <ui-table-header-text-color>hsb(0,0,91)</ui-table-header-text-color>
            <ui-table-divider-color>hsb(0,0,22)</ui-table-divider-color>
            <ui-table-background-color>hsb(0,0,16)</ui-table-background-color>
            <ui-table-cell-active-background-color>hsb({{hue}},{{sat}},{{brights8}})</ui-table-cell-active-background-color>
            <ui-table-cell-idle-background-color>hsb(0,0,23)</ui-table-cell-idle-background-color>
            <ui-table-cell-text-color>hsb(0,0,91)</ui-table-cell-text-color>
            <ui-table-cell-subtitle-text-color>hsb(0,0,80)</ui-table-cell-subtitle-text-color>
            <ui-table-cell-tint-color>{{tintColor}}</ui-table-cell-tint-color>
            <ui-table-highlight-background-color>hsb({{hue}},{{lowsat}},{{lowbright}})</ui-table-highlight-background-color>
            <ui-table-highlight-text-color>hsb({{hue}},{{lowsat}},80)</ui-table-highlight-text-color>
        </ui-table>
    </user-interface>
</theme>


